.info-boxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.info-box {
    height: 100%;
}

.info-box-headline {
    height: 2rem;
    width: 100%;
    max-width: 360px;
    background-color: var(--foldertag);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.info-box-headline h2 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--light);
}

.info-box-outer {
    height: 100%;
    width: 100%;
    padding: .5rem;
    background-color: var(--card);
    border: 1px solid var(--stroke);
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box-inner {
    height: 100%;
    width: 100%;
    background-color: var(--light);
    border-radius: .5rem;
    padding: 1rem;
}

.info-ul {
    line-height: 2rem;
    font-size: 1rem;
    color: var(--almostblack);
    margin-left: 1rem;
}


@media (min-width: 900px) {
    .info-boxes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        row-gap: 4rem;
    }
}

@media (min-width: 1440px) {
    main {
        max-width: 1440px;
    }
}
